@import "tailwindcss";

:root {
  --foreground: #ac8f38;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  /* This Tailwind utility 'bg-slate-50' provides a perfect off-white/light-gray */
  @apply bg-slate-50; 
}
